
body {
    background-color: #fff;
    font-family: -apple-system, 'Helvetica', BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    max-width: 700px;
    padding: 2em;
}

h1 {
    font-size: 3rem;
    margin: 0
}

sub {
    font-size: 1em;
    color: gray;
}