---
import { slugifyTag } from '../lib/site';

interface Props {
  tags?: string[];
}

const { tags = [] } = Astro.props;
---

{tags.length > 0 && (
  <div class="tags">
    {tags.map((tag) => (
      <a href={`/tags/${slugifyTag(tag)}/`} class="tag">#{tag}</a>
    ))}
  </div>
)}
